.main {
  position: relative;
  /* background-color: rgb(165, 41, 41); */
  /* top: 20px; */
  margin-top: 50px;
  padding: 50px 50px;
  /* right: 10px; */
  /* left: 5px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: 1000px;
}
.main .main-col {
  background-color: rgb(0, 255, 21);
}
.addNewTask {
  /* max-width: 500px; */
  text-align: left;
  /* border: 1px solid red; */
  border-radius: 10px;
  padding: 20px 20px;
  background-color: #25273c;
  color: white;
}
.addNewTask h4 {
  color: var(--secondary-color);
}
.addNewTask button {
  background-color: var(--secondary-color);
  border: none;
  width: 100%;
}
.toDoList {
  border: solid gray 1px;
  border-radius: 10px;
}
